<a href="https://colab.research.google.com/github/Kyl67899/Python/blob/work/Data_Science_course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python
## Credit to Ai Planet
###modified by: Kyle Yarun Parsotan
#### ALL RIGHTS ARE RESERVED

## Intro to Python Practice Week 0

###

In [ ]:
print("Hello, DPhi! Today, I execute my very first Python program. Thanks!")

Hello, DPhi! Today, I execute my very first Python program. Thanks!

In [ ]:
a = "Hello, World!"
print(a[-2])

d

In [ ]:
#Print the First ten natural numbers using a while loop.
list = [5, 4, 23, 10, 10000, 1]
list.append(56)
lists = list.count(5)
lists
print(len(list))
list.sort()
print(list)

7
[1, 4, 5, 10, 23, 56, 10000]

### For/while loops

In [ ]:
#Print the First ten natural numbers using a while loop.
x = 0
while x < 11:
  print(x)
  x = x + 1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#Iterate over the following list and print the elements:
#list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for x in list1:
  print(x)

12
15
32
42
55
75
122
132
150
180
200

In [ ]:
#Accept a number n from the user and print its multiplication table

c = int(input("Enter a number : "))
for x in range(1, 11):
  print(c, " X ", x, "=", c * x)

Enter a number : 5
5  X  1 = 5
5  X  2 = 10
5  X  3 = 15
5  X  4 = 20
5  X  5 = 25
5  X  6 = 30
5  X  7 = 35
5  X  8 = 40
5  X  9 = 45
5  X  10 = 50

In [ ]:
#Use the enumerate function to print the elements of this list along with the indices:
grocery = ['bread', 'milk', 'butter']

for ine, lists in enumerate(grocery):
  print("index " + str(ine) + " : " + str(lists))

index 0 : bread
index 1 : milk
index 2 : butter

In [ ]:
#Take a number n from the user and find the sum of all numbers between 1 to n.
n = int(input("Enter a number : "))
for i in n:
  c = 1
  sum = c + i
print(sum)

Enter a number : 5

TypeError: ignored

In [ ]:
#Create a sequence of numbers from 3 to 5, and print each item in the sequence.
for i in range(3, 6):
  print(i)

3
4
5

In [ ]:
#Create a sequence of numbers from 3 to 19, but increment by 2 instead of 1.
for x in range(3, 20, 2):
  print(x)

3
5
7
9
11
13
15
17
19

In [ ]:
#Print the letters of the string "Python" in the same line:
  #Using a simple for loop
  #Using the range function

for x in "Python":
  print(x)



for i in list(range())

P
y
t
h
o
n

In [ ]:
z = 6
if z%2 == 0:
  print("z is divisible by 2")
elif z%3 == 0:
  print("z is divisible by 3")
else:
  print("z is not divisible by 2 nor by 3")

z is divisible by 2

### Conditional Statement and Dictionaries

In [ ]:
# Take values of length and breadth of a rectangle from the user and check if it is a square.

In [ ]:
# Take two int values from the user and print the greatest among them.

In [ ]:
# Write a program to read a candidate's age and determine whether they are eligible to cast their vote.

In [ ]:
# Write a Python program to add a key to a dictionary.
# Sample Dictionary : {0: 10, 1: 20}
# Expected Result : {0: 10, 1: 20, 2: 30}

In [ ]:
# Below are two lists; convert them into a dictionary. keys = ['Ten', 'Twenty', 'Thirty']
# values = [10, 20, 30]
# Expected output:
# {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
# Access the value of key 'history'
sampleDict = {
  "class":{
  "student":{
  "name":"Mike",
  "marks":{
  "physics":70,
  "history":80
      }
    }
  }
}

# Expected output:
# 80

In [ ]:
# Given the following dictionary:
# inventory = {
# 'gold' : 500,
# 'pouch' : ['flint', 'twine', 'gemstone'],
# 'backpack' : ['xylophone','dagger', 'bedroll','bread loaf']
# }
# Try to do the following:
# Add a key to inventory called 'pocket'.
# Set the value of 'pocket' to be a list consisting of the strings' seashell', 'strange berry', and 'lint'.
# .sort()the items in the list stored under the 'backpack' key.
# Then .remove('dagger') from the list of items stored under the 'backpack' key.
# Add 50 to the number stored under the 'gold' key.

In [ ]:
numbers = [20, 40]
item = ["tables", "chairs"]
for i in numbers:
  for y in item:
    print(x, y)

102 tables
102 chairs
102 tables
102 chairs

In [ ]:
for i in range(0,5):
  print(i)

0
1
2
3
4

### Functions, Methods and Packages

### Session: Fundamentals of Python and NumPy

### Array, Vectors & Matrices

### Notebook: Introduction to Numpy

### Functions, Methods and Packages

## Intro to Data Science Week 1

## Week 2

## Week 3

## Week 4

## Week 5

## Quiz 1

## Quiz 2

## Datathon